// extend // 
%parrafo {
    grid-area: parrafo;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-right: 15px;
    border-radius: 50px;
    padding: 10px;

}