footer{
    // background: linear-gradient(rgba(194, 202, 83, 0.3), rgba(0, 0, 0, 0.3));
    background-color: rgb(255, 255, 255);
    height: 14vh;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    border-radius: 70px;
    justify-content: center;


}