// mapa de colores // 
$colors: (h1:rgb(233, 227, 227),
    h2:rgb(63, 60, 66),
    p:rgb(49, 45, 49),
    bg:rgb(208, 193, 241),
    bg-p: linear-gradient(rgba(34, 2, 51, 0.5), rgba(24, 195, 207, 0.5)),
    bg-p2: linear-gradient(rgba(57, 120, 122, 0.5), rgba(168, 232, 235, 0.5)),
    bg-p3: linear-gradient(rgba(88, 172, 147, 0.5),rgba(6, 232, 240, 0.5) ),
    bg-2:linear-gradient(rgba(0, 0, 0, 0.3), rgba(28, 209, 200, 0.3)),
);
// mapa de fuentes //
$fuente: (h1: 'Syncopate',
    h2:'Poiret One',
    p: 'Montserrat Alternates',
    tamaño: 18px,

);