// extend // 
//* PARRAFOS *//
%parrafo {
    grid-area: parrafo;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-right: 15px;
    border-radius: 50px;
    padding: 10px;
}

//* BODY *//

%body {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

//* imagenes *//

%img {
    width: 100%;
    height: 100px;
}

//* article proyects *//

%article{
    background-color:black;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    //? 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    //?
    background-image: url(/images/card2.jpg);
    background-position: center bottom;
    background-size: cover;
}

%article-contain{
    background-color:rgb(255, 255, 255);
    width: 100%;
    margin: 10px;
    padding: 20px;
    border-radius: 70px;
    //? 
    display: flex;
    flex-wrap: wrap;
}

%section-2{
  border-radius: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
}
