// //? layout //
@import "layout/header";
 @import "layout/footer";

// //? components //
@import "components/netherlands/section-2-netherlands";
@import "components/proyects/button";

// //? utilities // 

 @import "utilities/mixins";
 @import "utilities/extend";

 .body-ner{
     background-image: url(/images/bg-netherlands.jpg);
     @extend %body;

 }