// //? layout //
@import "layout/header";
 @import "layout/footer";

// //? components //
@import "components/proyects/section-2";
@import "components/proyects/button";

// //? utilities // 

 @import "utilities/mixins";
 @import "utilities/extend";

 .body-proyects{
     background-image: url(/images/bg-proyets.jpg);
     @extend %body;

 }