// //? layout //
@import "layout/header";
 @import "layout/footer";

// //? components //
@import "components/switzerland/section-2-sw";
@import "components/proyects/button";

// //? utilities // 

 @import "utilities/mixins";
 @import "utilities/extend";

 .body-sw{
     background-image: url(/images/bg-sw.jpg);
     @extend %body;

 }